@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome PillSpot</h1>
    <h3>Enhancing your medicine requirements</h3>
    <a asp-page="/SignInPage">Sign In</a>

</div>
